<footer class="footer">
    <div class="container">
        <br />
        <address class="text-center">
            <span class="text-nowrap">Philadephlia, PA 19154 </span> |
            <span class="text-nowrap">Phone: <a href="tel:+12674993946">(267) 499-3946</a></span>
            <span class="hidden-xs"> |</span>
            <span class="text-nowrap"><span ng-bind="copyright"></span> By Anthony Fassett</span>
        </address>
    </div>
</footer>