<footer>
    <ul class="Nav">
    <li><a href="#HowTo">How to Order Online</a> |</li>
    <li><a href="#FAQ">FAQ</a> |</li> 
    <li><a href="#News">News</a> |</li> 
    <li><a href="#Polices">Policies</a></li>
</ul>
</footer>