<footer class="footer">
    <div class="container">
        <br />
        <address class="text-center">
            <small>
                <a href="http://anthonyfassett.com" target="_blank">AnthonyFassett.com</a> |
                Philadephlia, PA 19154 |
                Phone: <a href="tel:+18001234567">(800) 123-4567</a> |
                Fax: <a href="fax:+18001234567">(800) 123-4567</a><br />
                <span ng-bind="copyright"></span>
            </small>
        </address>
    </div>
</footer>