<footer class="footer">
    <div class="container">
        <br />
        <address class="text-center">
            <span ng-bind="copyright"></span> By Anthony Fassett | Philadephlia, PA 19154 |
            Phone: <a href="tel:+12674993946">(267) 499-3946</a>            
        </address>
    </div>
</footer>