<footer class="footer">
    <div class="container">
        <br />
        <address class="text-center">
            <small>
                <a href="http://anthonyfassett.com" target="_blank">AnthonyFassett.com</a> |
                403 Haddon Avenue  |  Camden, NJ 08103
                Phone: <a href="tel:+18569667377">(856) 966-7377</a> | Fax: <a href="fax:+18569640254">(856) 964-0254</a><br />
                <span ng-bind="copyright"></span>
            </small>
        </address>
    </div>
</footer>