<h3 id="CenterTitle">Catalog</h3>
<ul id="MainNav" class="Nav">
    <li><a href="#home">Login</a> |</li>
    <li><a href="#news">My Account</a> |</li> 
    <li><a href="#services">Services</a> |</li> 
    <li><a href="#about">Support</a> |</li>
    <li><a href="#contactus">Contact Us</a></li>
</ul>
<a id="AdvancedSearch" href="#Search">Advanced Search</a>
<ul id="BrowserNav" class="Nav">
    <li><a href="#home"><b>Browser</b></a></li>
    <li><a href="#news"><b>Collections</b></a></li>
    <li><a href="#"><b>Quick Order</b></a></li>
    <li><a href="#"><b>Saved Carts</b></a></li>
</ul>
<div id="PlaceOrder"><label>Order:</label> 4 item(s)
    <label>subtotal:</label><select><option>$500.00</option></select></div> 
<div id="C_Header_lblWelcome">
<p>Welcome <strong>Guest</strong></p>
</div>
