<nav class="navbar" role="navigation">
    <h1 class="text-center">Catalog-Demo</h1>
    <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
        <i class="fa fa-list fa-lg"></i>
    </button>
    <div class="container">
        <div class="navbar-collapse collapse layout-nav text-uppercase" collapse="isCollapsed">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
