<nav class="navbar" role="navigation">
    <h1 class="text-center">Catalog</h1>
    @*<button type="button" class="navbar-toggle">
        <i class="fa fa-list fa-lg"></i>
    </button>*@
    <div class="container">
        <div class="layout-nav text-uppercase">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/home/about">About</a></li>
            </ul>
        </div>
    </div>
</nav>
