@{
    ViewBag.Title = "AdvancedSearch";
}
<h2>AdvancedSearch</h2>
<label>Colection:</label>
<label>Species:</label>
<label>Product Type:</label>
<label>Cell Type:</label>
<label>Cell Subtype:</label>
<label>Race:</label>
<label>Population Group:</label>
<label>Disease:</label>
<label>Clinically Affected:</label>
<label>Apparently Healthy:</label>
<label>Normal Controls</label>
<label>Relationship to Proband:</label>
<label>Family Relationship Type:</label>
<label>Sex:</label>
<label>Age at Sampling:</label>
<label>Age at Onset:</label>
