<div class="git-ribbon hidden-print">
    <a href="http://github.com/fassetar/catalog-demo" rel="me">Find on GitHub</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form action="/" method="get">
                <div class="form-group">
                    <div class="input-group typeahead-wide input-group-lg">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-success btn-lg"><i class="fa fa-search"></i></button>
                        </div>
                        <input type="text" name="q" autocomplete="off" class="form-control hidden-print" placeholder="Search" ng-model="selected" typeahead="title for title in titles | filter:$viewValue | limitTo:8">
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <label>Filter by qualifications: <span class="label label-default" ng-bind="update() ? 'changed' : 'unchange' "></span></label>
                        <div>
                            <input type="checkbox" ng-click="allNeedsClicked()" ng-checked="allNeedsMet()" />All
                            <ul ng-repeat="item in items">
                                <li class="list-unstyled"><input type="checkbox" ng-model="item.flag" /><span ng-bind="item.value"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div ng-repeat="item in items">
                    <input hidden type="text" name="fq" ng-model="item.value" ng-if="item.flag" />
                </div>
            </form>
        </div>
    </div>
    <div id="grid1" ui-grid="gridOptions" class=" grid"></div>
</div>
@section script{
    <script>
        angular.module('catalog.demo', ['ui.bootstrap', 'ui.grid']).controller('homeCtrl', function ($scope, $http) {
            //Bootstrap Mobile
            $scope.isCollapsed = true;
            $scope.copyright = "© " + new Date().getFullYear();

            //Start: Typeahead stuff
            $scope.selected = undefined;
            //Point is not to create so many titles, just the best fit!
            $scope.titles = ['Software Engineer',
                             'Application Developer',
                             'Project Manager',
                             'Team Leader',
                             'Idealist',
                             'Game Programmer',
                             'Game Designer',
                             'Dreamer',
                             'Web Developer',
                             'Web Designer',
                             'Writer/Story Teller',
                             'UI/UX',
                             'Artist'];
            //End

            //Filter
            $scope.items = [{
                value: "Programming",
                flag: false
            }, {
                value: "Designing",
                flag: false
            }, {
                value: "Managing",
                flag: false
            }];
            $scope.itemsUnchanged = angular.copy($scope.items);

            $scope.allNeedsClicked = function () {
                var newValue = !$scope.allNeedsMet();
                for (var i = 0; i < $scope.items.length; i++) {
                    $scope.items[i].flag = newValue;
                }
            };

            $scope.allNeedsMet = function () {
                var needsMet = [];
                for (var i = 0; i < $scope.items.length; i++) {
                    if ($scope.items[i].flag === true)
                        needsMet.push(true);
                }
                return (needsMet.length === $scope.items.length);
            };

            $scope.update = function () {
                //test if equal and not changed, ande return true is updated/changed.
                return !angular.equals($scope.items, $scope.itemsUnchanged);
            };

            $scope.url = function () {
                var values = [];
                angular.forEach($scope.items, function (key, value) {
                    if (key.flag)
                        url.push(key.value);
                });
                return (values.toString()) ? "" : this;
            };

            $scope.myData = {};
            $scope.gridOptions = {
                data: 'myData',
                enableHorizontalScrollbar: 0,
                enableVerticalScrollbar: 0
            };
            $http.get("Scripts/example.js").success(function (response) { $scope.myData = response; });
        });
    </script>
}
