h3#CenterTitle {
    color: grey;
    float:left;
    width:470px;
    margin-top:40px;
}
body {
    padding-top: 10px;
    width:1260px;
}
a {
    text-decoration:none;
}
ul.Nav li {
    display:inline;
}
ul.Nav {
    list-style-type:none;
    margin:0;
    white-space: nowrap;
}
ul#MainNav {
    padding-top:40px;
}
ul {list-style: none;}
#FreeSearch {
    position: relative;
    left: 910px;
    top: -100px;
    width: 240px;
}
ul#BrowserNav {
    clear:both;
    height:25px;
    background-color:grey;
    border-radius: 2px 2px 0px 0px;
    padding-top: 5px;
}
    ul#BrowserNav li {
           margin: 0px 50px 5px -30px;
    }
div#PlaceOrder {
    float: right;
    position: relative;
    left: -10px;
    top: -25px;
    height: 0px;
    color:white;
}
div#C_Header_lblWelcome {
    background-color:lightgray; 
    float:left;
    width:100%;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    color: #000000;
}
    div#C_Header_lblWelcome p {
        padding-left:5px;
    }
figure#logo {
    width: 380px;
    height: 70px;
    float: left;
}
header {
    height:120px;
    width:100%;
}
form.form-search {
    margin-right: 120px;
    margin-top: -105px;
}
a#AdvancedSearch {
    float:right;
    position:relative;
    top:10px;
    left: -6px;
    text-decoration:underline;
}
div#DisplayResults {
    float: left;
padding-right: 660px;
}
div#Filter {
    border-style: solid;
    border-width: 1px;
    width:220px;
    float:left;
}
    #Filter h4 {
        margin: 5px;
    }

p.ng-binding {
    padding-top:30px;
    padding-left:230px;
}
div.leftColumn {
    float: left;
    padding-right: 20px;
    border: 1px solid;
    margin-top: -27px;
    height: 510px;
    padding-left: 10px;
    padding-top: 5px;
    width: 125px;
}
div.leftColumn ul {
    margin-left:-40px;
}
div.rightColumn {
    margin-left: 160px;
}
    div.rightColumn #Header  {
        padding:8px;
    }
div#ResultsTitle {
    margin-top: -30px;
    padding-left: 180px;
}
footer {
    clear:both;
    background-color:grey;
    border-radius:0px 0px 2px 2px;
}